#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    #left{
        width: 50vw;
        height: 80vh;

        margin-top: 5vh;
        margin-left: 5vw;

        font-size: 2rem;

        background-color: rgba(gray, $alpha:0.2);
    }
    #right{
        width: 20vw;
        height: 80vh;
        
        margin-top: 5vh;
        margin-left: 5vw;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #best{
            width: 20vw;
            height: 10vh;

            border: 1px solid black;
        }
        #count{
            width: 20vw;
            height: 10vh;

            border: 1px solid black;
        }
        input{
            width: 20vw;
            height: 10vh;

            font-size: 3rem;
        }
        button{
            width: 20vw;
            height: 10vh;
        }
    }
}